extends layout

block content
  div
    a.hidden-print(href='javascript:window.print()')
      span.glyphicon.glyphicon-print
      |  Print
  h1
    | Patrick Ryan Purcell
    small  IT Architect / Developer&nbsp;
    img.img-circle(width='100px', src='/img/profile.jpg')
  address
    a(href='mailto:patrick.ryan.purcell@gmail.com', target='_blank')
      span.glyphicon.glyphicon-envelope
      |  patrick.ryan.purcell@gmail.com
    br
    a(href='tel:281-733-9242')
      span.glyphicon.glyphicon-phone
      |  281-733-9242
    br
    a(href='https://www.linkedin.com/profile/view?id=24210275&trk=nav_responsive_tab_profile', target='_blank')
      span.fa.fa-linkedin-square
      |  LinkedIn
  p
    em.small Dedicated to designing simple, elegant and effective solutions
  p
    | I happen to be lucky enough to do what I love to do.  Designing and creating
    | helpful solutions to problems is not "work" to me but something I enjoy.
  h2 Work History
    h3 Stratum Reservoir
    p: em Jan 2020 - present
    p IT Architect
    ul
      li Creating rest based API to support our client data website
      li Using jwt to restrict access to API
      li Creating new client data website in Vue Js
    h3 Gexa Energy
    p: em Aug 2016 - Jan 2020
    p IT Architect
    ul
      li Developed new rest based API for brokers to integrate with our acquisition channels one in Asp.Net MVC and one in NodeJs
      li Deployed to Azure using their api app for the MVC solution and web app for the NodeJs solution since linux is a better fit
      li Created a new residential portal build in Angular 2 using a new servicing API and deployed as an Azure Web App
      li Connected our APIs to Azure's API Management solution for authentication and policy enforcement
      ll Developed an internal management project for our APIs using AngularJs
    h3 Weatherford Labs
    p: em Jan 2015 - Aug 2016
    p IT Technical Architect
    ul
      li Designed new web api for new LIMS system
      li Designed UI structure for new LIMS system using angular js
      li Designed workflow process using graph database (neo4j)
    h3 Gexa Energy
    p: em Jan 2012 - Jan 2015
    p Team Lead / Developer - Lead Team of 8 Developers
    ul
      li Prioritize workload for all of my employees
      li Managed expectations and outcomes of projects
      li MVC web development including our commercial portal
      li Oracle database design and maintenance
      li Help transfer knowledge of newer technolgies to other employees
      li Involved in the vetting and hiring of new employees
      li Helped business turn functional requirements into technical requirements
    h3 Weatherford Labs
    p: em Nov 2008 - Jan 2012
    p Web Developer/Programmer
    ul
      li Inventory system for logistics and tracking of all samples
      li Project management system for tracking job updates
      li Defining requirements for changes to project management and inventory systems
      li Sql Server database design and management
      li Upgraded current system from classic asp to asp.net and then to MVC
      li
        | Developed restful web services to decreas load times for our project management software
    h3 Lynton Web
    p: em Aug 2007 - Oct 2008
    p Web Developer/Programmer
    ul
      li Developed custom websites using asp.net (2.0 and 3.5)
      li Developed custom CMS websites using Telerik’s Sitefinity and DotNetNuke
      li
        | Designed and managed databases using MS Sql Server 2005 for use in custom websites
      li Used javascript for simple client operations needed for several custom websites
      li Communicated with customers directly to assess project requirements
  .hidden-print
    h2
      | My skillset
      small  % of knowledge
    div(style='box-shadow: 3px 3px 3px gray; padding: 20px 10px 1px 10px; background: silver;')
      .progress
        .progress-bar.progress-success(style='width: 85%;')
          i.fab.fa-node
          |  node.js
      .progress
        .progress-bar.progress-success(style='width: 85%;')
          i.icon-git
          |  git
      .progress
        .progress-bar.progress-success(style='width: 95%;')
          i.fab.fa-angular
          |  AngularJs
      .progress
        .progress-bar.progress-success(style='width: 90%;')
          i.icon-mongodb
          |  MongoDb
      .progress
        .progress-bar.progress-success(style='width: 60%')
          i.fab-fa-vuejs
          |  Vue Js
      .progress
        .progress-bar.progress-success(style='width: 95%;')
          i.icon-grunt
          | grunt
      .progress
        .progress-bar(style='width: 95%;')
          i.fab.fa-js-square
          |  Javascript
      .progress
        .progress-bar(style='width: 85%;')
          i.fab.fa-css3
          |  CSS
      .progress
        .progress-bar.progress-success(style='width: 65%;')
          i.fab.fa-less
          |  Less
      .progress
        .progress-bar.progress-success(style='width: 95%;')
          i.icon-bootstrap
          |  Bootstrap
      .progress
        .progress-bar(style='width: 95%;')
          i.icon-jquery
          |  jQuery
      .progress
        .progress-bar.progress-success(style='width: 65%;')
          i.icon-oracle
          |  Oracle
      .progress
        .progress-bar.progress-success(style='width: 75%;')
          i.icon-mssql
          |  Sql Server
      .progress
        .progress-bar(style='width: 95%;')
          i.icon-csharp
          |  ASP.Net
      .progress
        .progress-bar(style='width: 95%;') MVC
      .progress
        .progress-bar.progress-success(style='width: 75%;') TFS

  .visible-print
    h2 Skills
    ul
      li
        | 5+ years experience
        ul
          li NodeJs
          li MongoDb
          li Git
          li AngularJs
          li ASP.Net
          li MVC
          li Javascript
          li jQuery
          li jQuery UI
          li CSS
          li Sql Server
          li Ajax / Restful Web Services
          li Oracle
          li TFS
          li Less
          li Bootstrap
